@tailwind base;
@tailwind components;
@tailwind utilities;
a.active {
  color: #3498db;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}
.page-container{
  padding: 0 120px;
}
@layer components {
  .flex-container {
    @apply flex items-center justify-center gap-6 md:flex-row flex-col;
  }
  .container {
    @apply p-6 flex items-center;
  }
  .common-padding {
    @apply sm:py-32 py-20 sm:px-10 px-5;
  }
}
